@use "@/styles/abstracts" as *;

.message.user {
  align-self: flex-end;
  background-color: var(--color-background-subtle);
  color: var(--color-text-light);
  max-width: 80%;
  margin-right: var(--spacing-4);
  padding: var(--spacing-4);
  border-radius: var(--radius-xl);

  .message-content {
    white-space: pre-wrap;
    color: var(--color-text-light);
    line-height: var(--line-height-relaxed);
  }

  .message-timestamp {
    font-size: var(--font-size-xs);
    color: var(--color-text-lighter);
    margin-top: var(--spacing-2);
  }
}

@include respond-to("md") {
  .message {
    max-width: 90%;
  }
}
